{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="wrapper1 col-lg-9 col-md-9 col-sm-9 pull-right">

            <div class="suggestedEvents">
                <div class="container-fluid">
                    <h1> Suggested Events </h1>
                    <hr>
                    <div class="row">
                        <a href="#">
                            <!--Link to event page -->
                            <div class="eventPreview col-lg-6 col-md-6">
                                <img src="/static/imgs/event1.jpg">
                                <h4> Event title 1  </h4>
                                <h5> Thursday, June 5th 2015 at <b> 7:00 PM </b></h5>
                                <h5> Location of event 1 </h5>
                                <h6> Music </h6>
                            </div>
                        </a>
                        <a href="#">
                            <div class="eventPreview col-lg-6 col-md-6">
                                <img src="/static/imgs/event2.jpg">
                                <h4> Event title 2</h4>
                                <h5> Thursday, July 5th 2015 at <b> 7:00 PM </b></h5>
                                <h5> Location of event 1 </h5>
                                <h6> Music </h6>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="#">
                            <div class="eventPreview col-lg-6 col-md-6">
                                <img src="/static/imgs/event3.jpg">
                                <h4> Event title 3</h4>
                                <h5> Friday, October 5th 2015 at <b> 7:00 PM </b></h5>
                                <h5> Location of event 1 </h5>
                                <h6> Music </h6>
                            </div>
                        </a>
                        </a href="#">
                        <div class="eventPreview col-lg-6 col-md-6">
                            <img src="/static/imgs/event4.jpg">
                            <h4> Event title 4</h4>
                            <h5> Saturday, October 20th 2015 at <b> 7:00 PM </b></h5>
                            <h5> Location of event 1 </h5>
                            <h6> Music </h6>
                        </div>
                        </a>
                    </div>
                </div>
            </div>



            <div class="categories">
            	<div class="container-fluid">
            	<h1> Find Events </h1>
            	<hr>
            	<div class="row">
            		<a href="#">
            			<div class="category category1 col-md-5 col-lg-5">
            				<span>
            				<h3>Music </h3>
            				<p>"One good thing about music, when it hits you, you feel no pain."<br> -Bob Marley</p>
            				</span>
            			</div>
            		</a>
            		<a href="#">	
            			<div class="category2 col-lg-7 col-md-7">
            			</div>
            		</a>
            	</div>
            	<div class="row">
            		<a href="#">
            			<div class="category3 col-md-7 col-lg-7">
            			</div>
            		</a>
            		<a href="#">	
            			<div class="category4 col-lg-5 col-md-5">
            			</div>
            		</a>
            	</div>
            	<div class="row">
            		<a href="#">
            			<div class="category5 col-md-5 col-lg-5">
            			</div>
            		</a>
            		<a href="#">	
            			<div class="category6 col-lg-7 col-md-7">
            			</div>
            		</a>
            	</div>


{% endblock %}