{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="suggestedEvents">
        <div class="container-fluid">
            <h1> {{ title }} </h1>
            <hr>
            {% for event in events %}
                <div class="row">
                    <a href="{% url 'eventpage' event.id %}">
                        <div class="eventPreview col-lg-6 col-md-6">
                            <img src="/static/imgs/event1.jpg">
                            <h4> {{ event.name }}  </h4>
                            <h5> Thursday, June 5th 2015 at <b> 7:00 PM </b></h5>
                            <h5> {{ event.location }} </h5>
                            <h6> {{ event.get_category_display }} </h6>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}