{% extends 'base.html' %}

{% block content %}
	<script>
	function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(function(position){
	        	$('#latitude').val(position.coords.latitude);
	        	$('#longitude').val(position.coords.longitude);
	        });
	    }
	}
	getLocation();
	</script>

	<div class="content">
	<h2>Generate events</h2>

		<form action='.' method='post' class='generate-events-form'>
			{% csrf_token %}

			{% for field in form %}
				<div class='line-group'>
					{{ field.label }}
					{{ field }}
				</div>
			{% endfor %}
		
			<input type="hidden" id="latitude" name='latitude'>
			<input type="hidden" id="longitude" name='longitude'>
			<input type="submit">
		</form>

		{% for result in results %}
			<div class="event-item">
				{% if result.type == "food" or result.type == "club" or result.type == "other" %}
					{{ result.name }} <img src={{ result.image }}>

				{% elif result.type == "concert" %}
					{{ result.name }}, {{ result.location }} <br/>
					<a href={{ result.url }}>Buy tickets</a>
				{% endif %}
				<br/>
			</div>
		{% endfor %}
	</div>
{% endblock %}