{% extends 'base.html' %}

{% block content %}

<div class="generate">
<div class="container-fluid">
    <div class="row">
        <div class="wrapper1 col-lg-9 col-md-9 col-sm-9 pull-right">
	<h2>Generate events</h2>

		<form action='.' method='post' class='generate-events-form'>
			{% csrf_token %}


			{% for field in form %}
				<div class='line-group'>
					{{ field.label }}

					
					{{ field }}
				</div>
			{% endfor %}
		
			<input type="submit">
		</form>
	</div>
</div>
</div>
</div>


	<script>
		$(document).ready(function() {
			$('#id_date').datepicker();		
		});
	</script>
{% endblock %}