{% extends 'base.html' %}

{% block content %}
	<script>

	</script>

<div class="generate">
	<div class="container-fluid">
	    <div class="row">
	        <div class="wrapper1 col-lg-9 col-md-9 col-sm-9 pull-right">
	        {{ results }}
				<h2>Save new event</h2>
					{% if results %}
						<div class="events-list">
							{% for result in results %}
								<div class="event-item">
									{% if result.type == "food" or result.type == "club" or result.type == "other" %}
										<img src={{ result.image }}> {{ result.name }} 

									{% elif result.type == "concert" %}
										{{ result.name }}, {{ result.location }} <br/>
										<a href={{ result.url }}>Buy tickets</a>
									{% endif %}
									<br/>
								</div>
							{% endfor %}

							<button class="submit orange">Save</button>
						</div>
					{% endif %}
			</div>
		</div>
	</div>
</div>
	</div>
{% endblock %}